.BgLogin {
    /* Color si no carga la imagen */
    background: rgb(33, 35, 37);

    background-image: url(../../storage/app/logo/logo_empresa.jpeg),
        url(../../storage/app/logo/logo_empresa.jpg),
        url(../../storage/app/logo/logo_empresa.png);

    backdrop-filter: blur(25px);
    object-fit: cover;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}


.empresaLogo {
    background-image: url(../../storage/app/logo/logo_empresa.jpeg),
        url(../../storage/app/logo/logo_empresa.jpg),
        url(../../storage/app/logo/logo_empresa.png);
    background-position-y: center;
    background-position-x: left;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;

}

html,
body {
    height: 100vh;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.LoginPosition {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.LoginForm {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 15px;
}

.titleBar {
    padding: 5px;
}

.form-control {
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.customShadow {
    box-shadow: 0px 5px 5px 0px rgb(125, 125, 125);
}

.blue1 {
    background-color: #007bff;
    color: white;
}

.green1 {
    background-color: #0d866c;
    color: white;
}

.red1 {
    background-color: #dc3545;
    color: white;
}

.purple1 {
    background-color: #6f42c1;
    color: white;
}

.purple2 {
    background-color: #3d0072;
    color: white;
}

.orange1 {
    background-color: #fd7e14;
    color: white;
}

.orange2 {
    background-color: #ffb300;
    color: white;
}

.mint1 {
    background-color: #20c997;
    color: white;
}

.hoverCardLeft {
    transition: 0.5s;
}

.hoverCardLeft:hover {
    width: 100%;
    height: auto;
    box-shadow: 20px 20px 20px 0px rgb(150, 150, 150);
}


.hoverCardCenter {
    transition: 0.5s;
}

.hoverCardCenter:hover {
    width: 100%;
    height: auto;
    box-shadow: 0px 20px 20px 0px rgb(150, 150, 150);
}

.hoverCardRight {
    transition: 0.5s;
}

.hoverCardRight:hover {
    width: 100%;
    height: auto;
    box-shadow: -20px 20px 20px 0px rgb(150, 150, 150);
}

.hoverCard {
    transition: 0.5s;
}

.hoverCard:hover {
    box-shadow: 0px 20px 20px 0px rgb(150, 150, 150);
}


@media(max-width: 1200px) {
    .BgLogin {
        background: rgb(33, 35, 37);
        background-image: url(../../storage/app/logo/logo_empresa.jpeg),
        url(../../storage/app/logo/logo_empresa.jpg),
        url(../../storage/app/logo/logo_empresa.png);
        backdrop-filter: blur(25px);
        object-fit: cover;
        background-position-y: center;
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

@media(max-width: 992px) {
    .BgLogin {
        background: rgb(33, 35, 37);
        background-image: url(../../storage/app/logo/logo_empresa.jpeg),
        url(../../storage/app/logo/logo_empresa.jpg),
        url(../../storage/app/logo/logo_empresa.png);
        backdrop-filter: blur(25px);
        object-fit: cover;
        background-position-y: center;
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .LoginPosition {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .LoginForm {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin-right: 0;
    }

}

@media (max-width: 768px) {
    .BgLogin {
        background: rgb(33, 35, 37);
        background-image: url(../../storage/app/logo/logo_empresa.jpeg),
        url(../../storage/app/logo/logo_empresa.jpg),
        url(../../storage/app/logo/logo_empresa.png);
        backdrop-filter: blur(25px);
        object-fit: cover;
        background-position-y: center;
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .LoginPosition {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .LoginForm {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin-right: 0;
    }

}

@media(max-width: 600px) {
    .titleBar {
        padding: 10px;
    }

    .nombreMarca {
        display: none;
    }
}

@media(max-width: 425px) {
    .titleBar {
        padding: 10px;
    }
}
